<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="holybro_drone">
  <link
    name="drone_body_base_link">
    <inertial>
      <origin
        xyz="-0.00474812823591439 0.000332399189490623 0.188685724472848"
        rpy="0 0 0" />
      <mass
        value="0.541899689262017" />
      <inertia
        ixx="0.000260461980086645"
        ixy="-4.77261419335966E-07"
        ixz="2.41939390968265E-08"
        iyy="0.000421477361058496"
        iyz="-5.07813765628558E-10"
        izz="0.000534221132207482" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://holybro_drone/meshes/drone_body_base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://holybro_drone/meshes/drone_body_base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="webcam_mount_link">
    <inertial>
      <origin
        xyz="-3.36662680903432E-05 8.61193362763753E-19 -2.52497010677921E-05"
        rpy="0 0 0" />
      <mass
        value="0.0104980205284551" />
      <inertia
        ixx="3.25626015689325E-06"
        ixy="-2.55114792866347E-22"
        ixz="8.92398098021039E-12"
        iyy="3.44855383826237E-07"
        iyz="-4.68472847307208E-24"
        izz="3.30644984559379E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://holybro_drone/meshes/webcam_mount_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://holybro_drone/meshes/webcam_mount_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="webcam_mount_link"
    type="fixed">
    <origin
      xyz="0.0632000000000002 0 0.20551453171528"
      rpy="0 0 0" />
    <parent
      link="drone_body_base_link" />
    <child
      link="webcam_mount_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="webcam_link">
    <inertial>
      <origin
        xyz="-0.00969133661013008 1.93370223325106E-05 0.0222849100330783"
        rpy="0 0 0" />
      <mass
        value="0.0925592950450194" />
      <inertia
        ixx="5.30992572848455E-05"
        ixy="-9.98223494495425E-10"
        ixz="-1.05314146170933E-07"
        iyy="1.90667390497112E-05"
        iyz="-3.42836265708613E-09"
        izz="4.16495082361373E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://holybro_drone/meshes/webcam_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://holybro_drone/meshes/webcam_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="webcam_link"
    type="fixed">
    <origin
      xyz="0.0219999999999998 0 -0.03175"
      rpy="0 0 0" />
    <parent
      link="webcam_mount_link" />
    <child
      link="webcam_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="controller_mount_link">
    <inertial>
      <origin
        xyz="-5.76825890036018E-05 0.000196638100443083 0.00115851206724638"
        rpy="0 0 0" />
      <mass
        value="0.00884874292458755" />
      <inertia
        ixx="1.78738222676864E-06"
        ixy="-5.27006669613329E-09"
        ixz="1.17560932668163E-09"
        iyy="5.98476840957091E-06"
        iyz="-4.07418900299138E-09"
        izz="7.75924590198396E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://holybro_drone/meshes/controller_mount_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://holybro_drone/meshes/controller_mount_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="controller_mount_link"
    type="fixed">
    <origin
      xyz="0 0 0.25051453171528"
      rpy="0 0 0" />
    <parent
      link="drone_body_base_link" />
    <child
      link="controller_mount_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="controller_link">
    <inertial>
      <origin
        xyz="0.00219245605079515 -0.000103368112899344 -0.00062973919272663"
        rpy="0 0 0" />
      <mass
        value="0.0195061887387913" />
      <inertia
        ixx="3.63718487765765E-06"
        ixy="-2.2550560703468E-08"
        ixz="-1.34352753310044E-07"
        iyy="1.22785999505225E-05"
        iyz="-3.82619475438593E-09"
        izz="1.58355869042221E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://holybro_drone/meshes/controller_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://holybro_drone/meshes/controller_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="controller_link"
    type="fixed">
    <origin
      xyz="0 0 0.00789999999999996"
      rpy="0 0 0" />
    <parent
      link="controller_mount_link" />
    <child
      link="controller_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>