<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="holybro_drone">
  <link
    name="drone_body_link">
    <inertial>
      <origin
        xyz="3.4872E-05 -0.005042 0.17624"
        rpy="0 0 0" />
      <mass
        value="0.45304" />
      <inertia
        ixx="0.00040952"
        ixy="4.705E-07"
        ixz="-4.7135E-13"
        iyy="0.00025147"
        iyz="1.9061E-11"
        izz="0.0005243" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://holybro_drone/meshes/drone_body_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.5 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://holybro_drone/meshes/drone_body_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="webcam_link">
    <inertial>
      <origin
        xyz="1.0628E-07 -0.00096634 -0.011469"
        rpy="0 0 0" />
      <mass
        value="0.047029" />
      <inertia
        ixx="4.3918E-06"
        ixy="-2.6587E-12"
        ixz="-3.0923E-11"
        iyy="3.2979E-05"
        iyz="-8.442E-08"
        izz="3.3775E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://holybro_drone/meshes/webcam_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.9 0.9 0.9 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://holybro_drone/meshes/webcam_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="webcam_link"
    type="fixed">
    <origin
      xyz="0 0.0852 0.17176"
      rpy="3.1416 0 0" />
    <parent
      link="drone_body_link" />
    <child
      link="webcam_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="controller_link">
    <inertial>
      <origin
        xyz="0.00010337 0.0021925 -0.00062974"
        rpy="0 0 0" />
      <mass
        value="0.019506" />
      <inertia
        ixx="1.2279E-05"
        ixy="2.2551E-08"
        ixz="3.8262E-09"
        iyy="3.6372E-06"
        iyz="-1.3435E-07"
        izz="1.5836E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://holybro_drone/meshes/controller_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.25 0.25 0.25 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://holybro_drone/meshes/controller_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="controller_link"
    type="fixed">
    <origin
      xyz="0 0 0.25641"
      rpy="0 0 0" />
    <parent
      link="drone_body_link" />
    <child
      link="controller_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>